@use '../../vars';

.spg-point-image-connection {
    $line-start-distance: 66px;
    $arrow-color: vars.$interactive-color;
    $arrow-size: 16px;

    display: flex;
    position: absolute;
    z-index: 999999;
    align-items: center;
    justify-content: center;
    transform-origin: left bottom;

    &--target-to-point {

        .spg-point-image-connection__line:after {
            display: none;
        }

        .spg-point-image-connection__line:before {
            display: block;
        }

    }

    &__line {
        position: absolute;
        right: $line-start-distance;
        left: $line-start-distance;
        border-bottom: 4px dashed $arrow-color;

        &:after {
            display: block;
            position: absolute;
            top: -6px;
            left: calc(100% + $arrow-size / 2);
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $arrow-size / 2 0 $arrow-size / 2 $arrow-size;
            border-color: transparent transparent transparent $arrow-color;
        }
        &:before {
            position: absolute;
            top: -6px;
            left: - $arrow-size;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $arrow-size / 2 $arrow-size $arrow-size / 2 0;
            border-color: transparent $arrow-color transparent transparent;
            content: '';
            display: none;
        }
    }
}
