.spg-image-editor {
    &__content {
        display: flex;
    }

    &__image {
        max-width: calc(100% - 500px);
    }

    &__form {
        width: 500px;
        padding: 0 24px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__title-field {
        width: 100%;
    }

    &__start-date-field {
        margin-right: 24px;
    }
}
