.spg-map-overlay-controller {
    display: flex;
    padding: 0 16px;
    box-shadow: #0000001a 0 -7px 5px 0;
    user-select: none;

    &__main-label {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }

    &__items {
        display: flex;
    }

    &__item {
        display: inline-block;
        position: relative;

        &--selected,
        &:hover {
            width: 250px;

            .spg-map-overlay-controller__name-label {
                display: inline-block;
                background: #fff;
                position: absolute;
                bottom: 100%;
                width: 100%;
                padding: 16px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            .spg-map-overlay-controller__opacity-slider {
                display: inline-block;
            }

            .spg-map-overlay-controller__date-label {
                color: #F73F13;
            }
        }
    }

    &__date-and-opacity {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__date-label {
        position: relative;
        display: block;
        margin-left: 16px;
        font-weight: 600;
        color: #828282;
    }

    &__date-label-child {
        position: relative;
    }

    &__date-label-colored {
        left: -50%;
        color: #F73F13;
    }

    &__name-label {
        display: none;
    }

    &__opacity-slider {
        display: none;
        width: 100%;
        margin-left: 16px;
    }

}
