$icon-dimension: 32px;

.spg-marker-icon {
    position: relative;
    width: $icon-dimension;
    height: $icon-dimension;

    @-moz-keyframes spin {
        100% { -moz-transform: rotate(360deg); }
    }

    @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    &:hover {
        top: -1px;
        left: -1px;
        border: 1px solid #282c34;
        border-radius: 100%;
    }

    &--highlighted::after {
        content: '';
        position: absolute;
        top: -11px;
        left: -11px;
        width: 50px;
        height: 50px;
        animation: spin 8s linear infinite;
        border: 2px dashed #000;
        border-radius: 100%;
        pointer-events: none;
    }

    &--selected::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 12px;
        left: 12px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: #ff0000;
    }

    &__panorama {
        position: absolute;
        top: -84px;
        left: 16px;
        width: 200px;
        height: 200px;
        transform: rotate(50deg);
        transform-origin: 0% 50%;
        pointer-events: none;
    }

    &__eye {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
    }

    &__count {
        display: flex;
        position: absolute;
        top: -3px;
        left: 20px;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border: 1px solid red;
        border-radius: 100%;
        background: white;
        color: #282c34;
    }
}
