@use '../../vars';

$icon-dimension: 42px;
@mixin highlight-circle {
    content: '';
    position: absolute;
    border-radius: 100%;
    pointer-events: none;
}

.spg-marker-icon {
    position: relative;
    width: $icon-dimension;
    height: $icon-dimension;

    &--point-adding-mode {
        cursor: copy;
    }

    @-moz-keyframes spin {
        100% { -moz-transform: rotate(360deg); }
    }

    @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    &:hover {
        .spg-marker-icon__eye {
            top: -2px;
            left: -2px;
            width: $icon-dimension + 4px;
            height: $icon-dimension + 4px;
        }
    }

    &--highlighted,
    &--selected {
        #eye-fill-part {
            fill: vars.$interactive-color;
        }
    }

    &--highlighted::after {
        content: "";
        top: -179px;
        left: -179px;
        width: 400px;
        height: 400px;
        position: absolute;
        pointer-events: none;
        background: radial-gradient(#00000000 34px, #00000050 34px, #00000000 220px, transparent);
    }

    &--highlighted::before {
        @include highlight-circle;

        top: -13px;
        left: -13px;
        width: 62px;
        height: 62px;
        border: 3px dashed vars.$interactive-color;
        border-radius: 100%;
    }

    &__panorama {
        position: absolute;
        top: -84px;
        left: 16px;
        width: 200px;
        height: 200px;
        transform: rotate(50deg);
        transform-origin: 0% 50%;
        pointer-events: none;
    }

    &__eye {
        position: absolute;
        z-index: 0 !important;
        top: 0;
        left: 0;
        width: $icon-dimension;
        height: $icon-dimension;
    }

    &__count {
        @include vars.condensed-semi-bold;

        display: flex;
        position: absolute;
        bottom: -3px;
        left: 20px;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border: 2px solid red;
        border-radius: 100%;
        background: white;
        color: #282c34;
    }

    &--count-on-hover {
        .spg-marker-icon__count {
            display: none;
        }
    }

    &--count-on-hover:hover {
        .spg-marker-icon__count {
            display: flex;
        }
    }
}
