@use '../../vars';

.spg-header {
    display: flex;
    align-items: center;
    height: vars.$header-height;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;

    &__logo {
        padding: 0;
        border: none;
        background: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    &__menu {
        margin-left: auto;
        color: #aaa;
        cursor: pointer;
    }

    &__language-toggle {
        border: none;
        background: none;
        cursor: pointer;
    }
}
