@import '@fontsource/roboto';
@import '@fontsource/roboto-condensed';

$highlight-color: #f07c60;
$interactive-color: #f73f13;

$header-height: 60px;

@mixin condensed-semi-bold {
    font-family: 'roboto condensed', sans-serif;
    font-weight: bolder;
}

@mixin condensed {
    font-family: 'roboto condensed', sans-serif;
}

@mixin roboto {
    font-family: 'roboto', sans-serif;
}
