.spg-map {
    $map-overlay-controller-height: 60px;

    &--hide-overlay-control {
        .spg-map__container {
            height: 100%;
        }
    }

    &__container {
        width: 100%;
        height: calc(100% - $map-overlay-controller-height);
    }

    &--point-adding-mode {
        .spg-map__container {
            cursor: crosshair;
        }
    }


    &__map-overlay-controller {
        position: relative;
        z-index: 99999;
        height: $map-overlay-controller-height;
    }
}
