@use '../../vars';
$image-spacing: 6px;

.spg-image-list {
    height: calc(100vh - #{vars.$header-height});
    overflow-y: scroll;

    &__row {
        display: flex;
        margin: 0 $image-spacing;
    }

    &__row-item {
        display: flex;
        position: relative;
        justify-content: center;
        height: 150px;
        padding: $image-spacing;
        overflow: hidden;

        &:hover {
            .spg-image-list__img-actions {
                display: flex;
            }
        }

        &--highlighted,
        &--selected {
            background: vars.$interactive-color;
        }
    }

    &__row-item-img {
        width: 100%;
        border-radius: 6px;
        background-position: center;
        background-size: cover;
    }

    &__img-actions {
        display: none;
        position: absolute;
        top: 6px;
        right: 6px;
    }

    @mixin action-item-icon {
        margin-top: 2px;
        margin-right: 4px;
        padding: 4px;
        border-radius: 100%;
        background: #ffffffcc;
        cursor: pointer;
    }
    &__row-item-locate-btn {
        @include action-item-icon;
    }
    &__row-item-launch-btn {
        @include action-item-icon;
    }
}
